# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Jupyter
.jupyter/

# Environment files
.env
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Power BI temporary/backup files
*.pbi_temp
